*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color:var(--bg-color) #1d2631;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body{
    background-color:#1d2631 ;
    color: var(--tex-color);
}



header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;

}


.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;
}

.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação{
    display: flex;
}

.navegação a{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover{
    color: var(--main-color);

}


.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.box{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.459);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset{
    border: 3px solid var(--main-color);
}
legend{
    border: 1px solid var(--main-color);
    padding: 10px;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 8px;
    color: black;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 95%;
    letter-spacing: 2px;
    margin-left: 10px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    margin-left: 10px;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: white;
    margin-left: 10px;
}
#bt{
    background-image: linear-gradient(to right,rgb(45, 77, 78), rgb(37, 106, 128));
    width: 95%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#bt:hover{
    background-image: linear-gradient(to right,rgb(45, 77, 78), rgb(37, 106, 128));
}

.tudo{
    display: flex;
    padding: 10vw;
    height: 100vh;
}
.notas{
    text-align: center;
    margin-left: 85%;
    margin-top: 23vh;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 15px;
    border-radius: 15px;
    width: 10vw;
    height: 16.5vh;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: -200px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.98);
    display: none;
  }

  .menu-lateral--aberto {
    display: block;
    right: 0;
    width: 20vw;
  }

  .menu-lateral ul{
    margin: auto;
    width: auto;
    height: 100vh;
  }

.infos{
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

  .sair{
    margin-top:71vh;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
  }

  .redes_sociais{
    margin-top: 20vh;
    width: auto;
    height: auto;
    position: absolute;
    justify-content: space-between;
    margin-left: 25%;
  }

  .redes_sociais i{
    margin-bottom: 20%;
    margin-left: 5%;
  }
  .redes_sociais i:hover{
    height: 100%;
    color: white;
    background-color: #19222b;
    transition: 1s;
  }
  .sair i:hover{
    height: 100%;
    color: white;
    background-color: #19222b;
    transition: 1s;
  }

  .menu-lateral a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .menu-lateral a:hover{
    color: var(--main-color);
  }