*{
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --bg-color:var(--bg-color) #1d2631;
  --tex-color: #fff;
  --main-color: #34e7f8;
  --other-color: #fcfcfc;
  --h1-font: 4rem;
  --p-font: 1rem;
}


body{
  background-color:#1d2631 ;
  color: var(--tex-color);
  max-width: 1920px;
}



header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  margin-right: 3%;
}


.logo{
  display: flex;
  align-items: center;
  color: var(--tex-color);
  font-size: 28px;
  font-weight: bold;
}

.logo i{
  color: var(--main-color);
  font-size: 32px;
  margin-right: 5px;
}

.navegação{
  display: flex;
}

.navegação a{
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 0 30px;
  transition: a .55s ease;
}

.navegação a:hover{
  color: var(--main-color);

}


.header-icons{
  display: flex;
  align-items: center;
}

#menu{
  font-size: 35px;
  color: var(--tex-color);
  z-index: 10001;
  cursor: pointer;
}

.header-icons i{
  margin-right: 25px;
  font-size: 28px;
  cursor: pointer;
  transition: all .5s ease;
}

.header-icons i:hover{
  transform: translateY(-5px);
  color: var(--main-color);
}

.menuFixo {
  position: fixed;
  background-color: #19222b;
  box-shadow: 10px 5px 5px rgb(22, 22, 22);
}

.main{
  height: 100vh;
  width: 100vw;
  margin-top: -7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem; /*espaçamento entre os itens, tipo um padding*/
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: -200px;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
}

.menu-lateral--aberto {
  display: block;
  right: 0;
  width: 300px;
}

.menu-lateral ul{
  margin: auto;
  width: auto;
  height: auto;
}

.perfil{
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.historicodecompras{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.sair{
  margin-top: 560px;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.redes_sociais{
  margin-top: 50px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 25%;
}

.menu-lateral a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.menu-lateral a:hover{
  color: var(--main-color);
}

.labelInput{
  text-decoration: none;
}

.box{
  margin-bottom: 5%;
  max-width: 505px;
  max-height: 100%;
  text-align: center;
  box-shadow: 15px 15px 10px black;
}
.box #bt{
  display: flex;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 1.2em;
  width: 65%;
  margin-bottom: 5%;
  background-color: white;
  color: black;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.box #bt:hover{
  background-color: black;
  color: white;
}
.box .imagemform{
  margin-bottom: 2%;
  max-width: 50vw;
  max-height: 50vh;
}

.botoes{
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.botoes i{
  margin-top:16vh;
  color: white;
  text-decoration: none;
  font-family: Arial;
  font-size: larger;
  transition: transform 0.2s ease-in-out;
}
.botoes a{
  text-decoration: none;
  color: inherit;
}
.botoes i:hover{
  color: silver;
}